.Vet-page {
  display: flex;
  flex-direction: column;
  /* Agrega otros estilos que necesites para el contenedor principal */
}

.box-container {
  flex-grow: 1;
  overflow-y: auto;
  /* Agrega otros estilos que necesites para el contenedor de mascotas */
}

.pets-container {
  max-height: 400px; /* Establece la altura máxima deseada */
  /* Agrega otros estilos que necesites para el contenedor de mascotas */
}
