.tema{
display: contents;
text-align:justify;

}

menu.ui.buttons{
    color: red;
}

.MuiButtonBase-root.my_button{
  background-color: #4b88e9;
  margin-left: 900px;
}
.login{
  width: 5%;
  height: 5%;
  
}
.btn-login{
  padding: 30px;
}
Button{
  color: #bb3f3f;
}
.container{
  right: 0;
}