.tema{
display: contents;
text-align:justify;

}

menu.ui.buttons{
    color: red;
}

.MuiButtonBase-root.my_button{
  background-color: #4b88e9;
  display: flex;
  float: right;
  justify-content: right;
}
.login{
  margin-top: 20%;
  margin-left: 20%;
  
}
.btn-login{
  padding: 30px;
}
Button{
  color: #bb3f3f;
}