.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #e4e4e4;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.user-item_info {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
