.tema{
    display: contents;
    text-align:justify;
    
    }
    
    menu.ui.buttons{
        color: red;
    }
    
    .my_button{
        background-color: red;
      color: #bb3f3f;
      font-size: 1.2rem;
      border-radius: 15px;
      padding: 10px;
    }